body{margin:0;font-family:Arial;background:#111;color:white;}
header{background:black;padding:20px;border-bottom:3px solid red;}
nav a{color:white;margin:10px;text-decoration:none;font-weight:bold;}
nav a:hover{color:red;}
.hero{padding:60px;background:#222;}
section{padding:50px;}
footer{text-align:center;padding:20px;background:black;border-top:3px solid red;}

.team-section {max-width: 900px;margin: auto;padding: 60px 20px;font-family: "Poppins", sans-serif;}
.team-section h1 {text-align: center;font-size: 42px;margin-bottom: 10px;}
.subtitle {text-align: center;font-size: 18px;color: gray;margin-bottom: 50px;}
.team-card {background: #5975f381; padding: 25px; margin: 25px 0; border-radius: 18px; box-shadow: 0 6px 18px rgba(0,0,0,0.12); transition: transform 0.3s ease;}
.team-card:hover {transform: translateY(-6px);}
.team-card h2 {margin-bottom: 12px;font-size: 24px;}
.team-card ul {list-style: none;padding: 0;}
.team-card ul li {padding: 8px 0; font-size: 16px; border-bottom: 1px solid #eee;}
.team-card ul li:last-child {border-bottom: none;}
/* Special Teacher Card */
.leader {background: linear-gradient(to right, #0077ff, #00c6ff);color: white; text-align: center;}
.leader h2 { color: white;}
.ending {text-align: center;font-size: 18px;margin-top: 50px;font-weight: bold;}

/* Progress Entries */
.progress-entry {display: flex;gap: 20px;margin: 30px 0;align-items: flex-start;background: #3b7ce4;padding: 20px;border-radius: 16px;box-shadow: 0 6px 16px rgba(0,0,0,0.1);transition: transform 0.3s;}
.progress-entry:hover { transform: translateY(-5px);}
.progress-entry img {width: 220px;border-radius: 12px;object-fit: cover;}
.progress-text h3 {margin-top: 0;color: #000000;}
.progress-text .date {font-size: 14px;color: rgb(233, 216, 29);margin-bottom: 8px;}
.progress-text p {margin: 0;}

.progress-images {display: flex;gap: 15px;        /* space between photos */margin-bottom: 10px;}
.progress-images img {width: 30%;       /* 3 photos side by side */border-radius: 12px;object-fit: cover;box-shadow: 0 4px 10px rgba(0,0,0,0.1);transition: transform 0.3s;}
.progress-images img:hover {transform: scale(1.05);}

/*Logo Design*/
.site-logo {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 150px;
  height: auto;
  z-index: 1000;
}
.site-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}